---
layout: default
---
<div class="post">
	<span class="post_title">{{ page.title }}&raquo;</span><br>
	{{ content }}
	<div id="page-navigation">
		<div class="clear">&nbsp;</div>
		<div style="float: left;">
			{% if page.previous.url %}
				<a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
			{% endif %}
		</div>

		<div style="float:right;">
			{% if page.next.url %}
				<a href="{{page.next.url}}" title="next Post: {{page.next.title}}">{{page.next.title}} &raquo; </a>
			{% endif %}
		</div>
		<div class="clear">&nbsp;</div>
	</div>
</div>
